@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Embedded Stock</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Embedded Stock administration panel</h2>
        <p>
            Yes.
        </p>
    </div>
    
</div>