@model EmbeddedStock.Models.ComponentType

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ComponentType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ComponentTypeName" class="control-label"></label>
                <input asp-for="ComponentTypeName" class="form-control" />
                <span asp-validation-for="ComponentTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentInfo" class="control-label"></label>
                <input asp-for="ComponentInfo" class="form-control" />
                <span asp-validation-for="ComponentInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<ComponentTypeStatus>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Datasheet" class="control-label"></label>
                <input asp-for="Datasheet" class="form-control" />
                <span asp-validation-for="Datasheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WikiLink" class="control-label"></label>
                <input asp-for="WikiLink" class="form-control" />
                <span asp-validation-for="WikiLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminComment" class="control-label"></label>
                <input asp-for="AdminComment" class="form-control" />
                <span asp-validation-for="AdminComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categories</label>
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{ 
                                int cnt = 0;
                                List<EmbeddedStock.Models.StockViewModels.CategoryData> categories = ViewBag.Categories;
                                foreach(var category in categories)
                                {
                                    if(cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>

                                    }
                                    @:<td>
                                      <input type="checkbox"
                                             name="selectedCategories"
                                             value="@category.CategoryID"
                                             />
                                             @category.Name
                                    @:</td>

                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
